export(
alt.data,
alt.make,
alt.parallel,
alt.fit,
options.alt,
plot.alt,
mleframe.alt,
findrange.alt,
NelsonData,
MeekerData
)

S3method(plot, alt) 

  importFrom("grDevices", "dev.new")
  importFrom("graphics", "abline", "axis", "legend", "plot.default",
             "points")
  importFrom("stats", "lm", "qlnorm", "qweibull", "na.omit")
  importFrom("utils", "modifyList")

  importFrom("WeibullR","getPPP", "lslr", "mlefit", "mleframe", "p2y",
			 "plot.wblr", "wblr", "wblr.fit")
  importFrom("methods", "is")